div.NR-Analyzer
{
    background-color:#F8F8F8;
}

div.NR-Analyzer div.searchHeader
{
    padding:4px;
}

div.NR-Analyzer div.searchFooter
{
    padding:4px;
    text-align: inherit;
}

div.NR-Analyzer input[type=checkbox].Dimmed
{
    opacity:.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
}

div.NR-Analyzer div.Sections-Header
{
    background-color:#F3F3F3;
    border-top:    #E0E0E0 1px solid;
    border-bottom: #E0E0E0 1px solid;
    margin-bottom: 1px;
    padding-top:   5px;
    padding-bottom:5px;
}

div.NR-Analyzer div.Sections-Header > table > tr > td.Title,
div.NR-Analyzer div.Sections-Header > table > tbody > tr > td.Title
{
    font-weight:bold;
}

div.NR-Analyzer div.Section
{
    border-top: #E0E0E0 1px solid;
    padding-top   :4px;
    padding-bottom:4px;
}

div.NR-Analyzer div.Sections-Header  > table.Header > tr > td,
div.NR-Analyzer div.Sections-Header  > table.Header > tbody > tr > td,
div.NR-Analyzer div.Section > table.Header > tr > td,
div.NR-Analyzer div.Section > table.Header > tbody > tr > td
{
    vertical-align:top;
    padding:3px;
}

div.NR-Analyzer div.Sections-Header  > table.Header > tr > td.Selector,
div.NR-Analyzer div.Sections-Header  > table.Header > tbody > tr > td.Selector,
div.NR-Analyzer div.Section          > table.Header > tr > td.Selector,
div.NR-Analyzer div.Section          > table.Header > tbody > tr > td.Selector,
div.NR-Analyzer div.Question         > table.Header > tr > td.Selector,
div.NR-Analyzer div.Question         > table.Header > tbody > tr > td.Selector
{
    width:18px;
}

div.NR-Analyzer div.Section > table.Header > tr > td.Expanded,
div.NR-Analyzer div.Section > table.Header > tbody > tr > td.Expanded
{
    background: url("/bch/images/collapse.png") 50% 50% no-repeat;
    width:18px;
}

div.NR-Analyzer div.Section > table.Header > tr > td.Collapsed,
div.NR-Analyzer div.Section > table.Header > tbody > tr > td.Collapsed
{
    background: url("/bch/images/expand.png") 50% 50% no-repeat;
    width:18px;
}

div.NR-Analyzer div.Section > table.Header > tr > td.Title,
div.NR-Analyzer div.Section > table.Header > tbody > tr > td.Title
{
    font-weight:bold;
}

div.NR-Analyzer div.Question
{
    background-color:#FBFBFB;
    border-top: #F0F0F0 1px solid;
    padding-left  :25px;
    padding-right :18px;
    padding-top   :3px;
    padding-bottom:3px;
}

body[dir=rtl] div.NR-Analyzer div.Question
{
    padding-right:25px;
    padding-left: 18px;
}

div.NR-Analyzer div.Question > table.Header > tr > td,
div.NR-Analyzer div.Question > table.Header > tbody > tr > td
{
    vertical-align:top;
    padding:1px 2px 1px 2px;
}

div.NR-Analyzer div.Question > table.Header > tr > td.Number,
div.NR-Analyzer div.Question > table.Header > tbody > tr > td.Number
{
    font-weight:bold;
    width:1%;
    white-space:nowrap;
    padding-top:2px;
}

div.NR-Analyzer div.Question > table.Header > tr > td.Title,
div.NR-Analyzer div.Question > table.Header > tbody > tr > td.Title
{
    padding-top:2px;
}
